* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: rgb(244, 244, 244);
  --secondaryColor: rgb(237, 181, 7);
  --thirdaryColor: #fcf4e3;
}

/* start nav */
.nav {
  height: 10rem;
  background-color: var(--mainColor);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.7s linear;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  overflow: hidden;
  z-index: 999;
  /* display: none; */
}
.navLargescreen {
  display: none;
}
.hamburgerMenu {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--secondaryColor);
  z-index: 999;
}
@media (min-width: 760px) {
  .nav,
  .hamburgerMenu {
    display: none;
  }
  .navLargescreen {
    display: block;
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: right;
    z-index: 99;
    padding: 1rem;
  }
}

/* end of nav */

/* start home page */
.homeFragment {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main";
  grid-template-rows: 35% 65%;
  background-color: var(--mainColor);
}
.homeHeader {
  grid-area: header;
  background-color: var(--thirdaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeHeader > img {
  height: 45%;
}
.homeMain {
  grid-area: main;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: var(--mainColor);
}
.homeMain > h1 {
  font-size: 2.75rem;
}

.homeButton {
  height: 3rem;
  width: 15rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  border-radius: 7.5px;
  border: none;
}
.homeBubble {
  display: none;
}
@media (min-width: 760px) {
  .homeBubble {
    display: block;
    position: absolute;
    bottom: -15%;
    left: -15%;
    height: 25rem;
    width: 25rem;
    background-color: var(--thirdaryColor);
    border-radius: 50%;
  }
}
@media (min-width: 1150px) {
  .homeFragment {
    display: flex;
    flex-direction: row-reverse;
  }
  .homeHeader {
    width: 50%;
  }
  .homeMain {
    width: 50%;
  }
  .homeBubble {
    height: 30rem;
    width: 35rem;
  }
}

/* end of home page */

/* start register page */
.registerContainer {
  height: 100vh;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.registerPiccontainer {
  height: 35%;
  position: relative;
  background-color: var(--thirdaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerPiccontainer > img {
  height: 90%;
}
.registerPiccontainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(252, 244, 227, 0.3);
}

.registerMain {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.registerMain > input {
  height: 3.2rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.registerButton {
  height: 2.5rem;
  width: 15rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  border-radius: 7.5px;
  border: none;
}
.registerContainer > .registerMain > p {
  text-align: center;
  padding-bottom: 1rem;
}
.registerContainer > .registerMain > p > span {
  color: var(--secondaryColor);
}

@media (min-width: 760px) {
  .registerMain > input {
    width: 70%;
  }
}
@media (min-width: 1150px) {
  .registerContainer {
    flex-direction: row-reverse;
  }
  .registerMain,
  .registerPiccontainer {
    height: 100%;
    width: 50%;
  }
  .registerPiccontainer > img {
    height: 70%;
  }
}

/* end of register page */

/* start login page */
.login {
  height: 100vh;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginPicture {
  height: 35%;
  position: relative;
  background-color: var(--thirdaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPicture > img {
  height: 90%;
}
.loginPicture::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(252, 244, 227, 0.3);
}
.login > .loginContainer > h2 {
  font-size: 2.5rem;
  text-align: center;
}

.loginContainer {
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.loginContainer > input {
  height: 3.2rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.loginContainer > h2 {
  margin-top: auto;
}
.login > .loginContainer > p {
  text-align: center;
  margin-top: auto;
  padding-bottom: 1rem;
}
.login > .loginContainer > p > span {
  color: var(--secondaryColor);
}
@media (min-width: 760px) {
  .loginContainer > input {
    width: 70%;
  }
}
@media (min-width: 1150px) {
  .login {
    flex-direction: row;
    flex-direction: row-reverse;
  }
  .loginPicture,
  .loginContainer {
    height: 100%;
    width: 50%;
  }
  .login > .loginContainer > p {
    margin: 0;
  }
  .loginContainer > h2 {
    margin-top: 0;
  }
}
/* end of login page */
