* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: rgb(244, 244, 244);
  --secondaryColor: rgb(237, 181, 7);
}

/* start nav */
.nav {
  height: 10rem;
  background-color: var(--mainColor);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.7s linear;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  overflow: hidden;
  z-index: 999;
  /* display: none; */
}
.hamburgerMenu {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--secondaryColor);
  z-index: 999;
}

/* end of nav */

/* start home page */
.homeFragment {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main";
  grid-template-rows: 35% 65%;
  background-color: var(--mainColor);
}
.homeHeader {
  grid-area: header;
  background: url("./assets/my-daughter.png") no-repeat center / cover;
}
.homeMain {
  grid-area: main;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: var(--mainColor);
}
.homeMain > h1 {
  font-size: 2.75rem;
}

.homeButton {
  height: 3rem;
  width: 15rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  border-radius: 7.5px;
  border: none;
}

/* end of home page */

/* start register page */
.registerContainer {
  height: 100vh;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.registerPiccontainer {
  height: 30%;
  background: url("./assets/registerPic.svg") no-repeat center / cover;
}

.registerh2 {
  text-align: center;
}

.registerMain {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.registerMain > input {
  height: 3.2rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
}
.registerButton {
  height: 2.5rem;
  width: 15rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  border-radius: 7.5px;
  border: none;
}
.registerContainer > p {
  text-align: center;
  padding-bottom: 1rem;
}
.registerContainer > p > span {
  color: var(--secondaryColor);
}

/* end of register page */

/* start login page */
.login {
  height: 100vh;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginPicture {
  height: 30%;
  background: url("./assets/login.svg") no-repeat center / cover;
}
.login > h2 {
  font-size: 2.5rem;
  text-align: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.loginContainer > input {
  height: 3.2rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
}
.login > p {
  text-align: center;
  padding-bottom: 1rem;
}
.login > p > span {
  color: var(--secondaryColor);
}
/* end of login page */
